@model IEnumerable<SERVICE_BG.Entities.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Offers</h1>

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Category.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)

            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100px" />
                @*@Html.DisplayFor(modelItem => item.Picture)*@
            </td>
            @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
            {
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>                }

            @if ((this.User.Identity.IsAuthenticated))
            {

                // <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <td>
            @await Html.PartialAsync("_OrderPartialView", new OrderCreateBindingModel
            {
                ServiceId = item.Id
            })
        </td>                }

        </tr>
        }
    </tbody>
</table>
